<div class="cadDesp">
  <form (ngSubmit)="this.onSubmit()" [formGroup]="this.formDespesa">
    <mat-form-field appearance="fill" class="campoNormal">
      <mat-label>Data de criação</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="dtCreate"/>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="campoNormal">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome"/>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" floatLabel="always" class="campoNormal" >
      <mat-label>Valor</mat-label>
      <input
        matInput
        type="number"
        class="example-right-align"
        placeholder="0.00"
        formControlName="valor"
      />
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>
    <br />
    <div class="categoria">
      <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select [(value)]="selected" formControlName="categoria">
          <mat-option [value]="'EU'">EU</mat-option>
          <mat-option [value]="'Fixo'">Fixo</mat-option>
          <mat-option [value]="'Variavel'">Variavel</mat-option>
          <mat-option selected [value]="'Pessoal'">Pessoal</mat-option>
        </mat-select>
      </mat-form-field>

      <button class="btn btn-dark" type="button" (click)="openDialog()">
        Nova
        <app-icone-categoria
          [icone]="this.iconeNovaCategoria"
        ></app-icone-categoria>
      </button>
    </div>
    <br />
    <button type="submit" class="btn btn-success" [disabled]="!this.formDespesa.valid">
      Salvar
      <app-icone-categoria
        class="iconeCategoria"
        [icone]="this.iconeSalvar"
      ></app-icone-categoria>
    </button>
  </form>
</div>
