<div class="barra-lateral" [hidden]="hidden"  >
 
<mat-accordion>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
       <b>Despesas</b>
      </mat-panel-title>
      <mat-panel-description>
        exp
      </mat-panel-description>
     
    </mat-expansion-panel-header>

    <ul>
      <li>
        <a [routerLink]="'/'">Dashboard</a>
      </li>
      <li>
        <a [routerLink]="'/lista'">Tabela</a>
      </li>
      <li>
        <a [routerLink]="'/cadastro'">Cadastro</a>
      </li>
    </ul>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       <b>Combustível</b>
      </mat-panel-title>
      <mat-panel-description>
        exp
      </mat-panel-description>
    </mat-expansion-panel-header>

    <li>
      <a [routerLink]="'/'">Cadastro</a>
    </li>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       <b>Todo-List</b>
      </mat-panel-title>
      <mat-panel-description>
        exp
      </mat-panel-description>
    </mat-expansion-panel-header>

    <li>
      <a [routerLink]="'/'">Cadastro</a>
    </li>

  </mat-expansion-panel>

</mat-accordion>
</div>
