


<router-outlet></router-outlet>

<app-despesas-table></app-despesas-table>
<!-- <app-totais-table></app-totais-table>
<app-despesas-grafico></app-despesas-grafico> -->



 <!-- <ngb-pagination>
    <ng-template ngbPaginationFirst>First</ng-template>
    <ng-template ngbPaginationLast>Last</ng-template>
    <ng-template ngbPaginationPrevious>Prev</ng-template>
    <ng-template ngbPaginationNext>Next</ng-template>
    <ng-template ngbPaginationEllipsis>...</ng-template>
    <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
  </ngb-pagination> -->