<ng-container *ngIf="this.despesas.length === 0; else elseTemplate">
    <ngb-alert type="warning" [dismissible]="true">
      <strong>Aviso!</strong> Não há despesas.
    </ngb-alert>
</ng-container>

<ng-template #elseTemplate>
  <ngb-alert type="success" [dismissible]="true">
    <strong>Aviso!</strong> Todas as despesas foram carregadas.
  </ngb-alert>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Tipo</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let desp of despesas">
        <td>{{desp.id | number}}</td>
        <td>{{desp.nome}}</td>
        <td>{{desp.preco | number}}</td>
        <ng-container [ngSwitch]="desp.tipo">
          <td *ngSwitchCase="'Fixo'"><fa-icon [icon]="thumbtack"></fa-icon> {{desp.tipo}}</td>
          <td *ngSwitchCase="'Variavel'"><fa-icon [icon]="exchangeAlt"></fa-icon> {{desp.tipo}}</td>
          <td *ngSwitchCase="'Pessoal'"><fa-icon [icon]="male"></fa-icon> {{desp.tipo}}</td>
          <td *ngSwitchDefault><fa-icon [icon]="moneyBill"></fa-icon> {{desp.tipo}}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</ng-template>

